<h1>Tags</h1>

<ul>

#foreach($tag in $tags)
  <li>$tag.getType()</li>
#end

<form action="/tags" method="post">
  <label for="tag" >New Tag</label>
  <input id="tag" type="text" name="tag">
  <button type="submit" class="btn btn-primary" name="button">Add me!</button>
</form>


</ul>
