<h1>Tags</h1>

<ul>

#foreach($tag in $tags)
  <li><a href="/tags/$tag.getId()">$tag.getType()</a></li>
#end
</ul>

<hr>

<form action="/tags" method="post">
  <div class="form-group">
    <label for="tag" >New Tag</label>
    <input id="tag" class="form-control" type="text" name="tag">
  </div>
  <button type="submit" class="btn btn-primary" name="button">Add me!</button>
</form>


<p><a href="/">Home</a></p>
